
 /* These settings will keep the video responsive at a 16:9 aspect ratio as the user changes the page size */
 
 .youtubeContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    margin-bottom: 60px;
}

 iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
 }

 .youtubeTitle {
    display: flex;
    justify-content: center;
 }

 .h2youtube {
    font-weight: bold;
    font-size: 28px;
 }

 